@font-face {
    font-family: "spartan";
    src: url(assets/Spartan-Regular.ttf);

    font-family: "source sans pro";
    src: url(assets/SourceSansPro-Regular.ttf);
}

/*------------------------------------------------NAV SECTION------------------------------------------------*/
.nav__text{
    font-family: "spartan";
    font-weight: 600;
    font-size: 17px; /*1.06rem*/
    color: #000;
}

.nav__text:hover{
    border-bottom: #00E6CA solid 2px;
    color: #000 !important;
    padding-bottom: 0px !important;
}

.nav--resize{
    width: 100vw;
    margin-top: 40px; /*6.2vh*/
}

.nav__li--padding{
    padding-inline: 12px;
}
/*-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------LAND SECTION------------------------------------------------*/

.section--land{
    margin-top: 5%;
    display: flex;
    max-width: 1390px !important;
    padding-inline: 5% !important;
}

.section--land > .row > .col{
    padding-inline: 0;
}

.section__content{
    margin-block: 10px;
}

.column__left{
    padding-left: 0;
    max-width: 41% !important;
}

.section__chip-test{
    font-family: "roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #F551FF;
    padding: 6px 10px;
    color: #fff;
}

.section__h2{
    font-family: "spartan";
    font-weight: 700;
    font-size: 60px;
    line-height: 88px;
    margin-top: 4%;
}

.section__p{
    font-family: "mulish";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.article__images{
    position: relative;
    max-width: 100%;
}

.img__background{
    position: absolute;
    z-index: 0;
    max-width: 80%;
}

.img__article{
    position: absolute;
    z-index: 1;
    max-width: 90%;
    margin-top: 6%;
    right: 0;
};

@media (min-width: 1200px) {
    .container {
        max-width: 1640px !important;
    }
}
/*-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------CONTAINER CARDS---------------------------------------------*/

.section--cards{
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-inline: 4%;
    margin-block: 8%;
}

.cards{
    text-align: center;
}

.card__title{
    font-family: "spartan";
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-top: 35px;
}

.card__paragraph{
    font-family: "mulish";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-wrap: pretty;
}

.card__button{
    font-family: "spartan";
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    background-color: #2820FC;
    color: #fff;
    padding: 4px 28px;
    border: #2820FC solid 1px;
}
/*-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------LATEST ARTICLES---------------------------------------------*/

.title__h3--latest-articles{
    font-family: "spartan";
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

.section--latest-articles{
    width: 80vw !important;
}

.container__card{
    margin: 20px !important;
}

.article__card{
    flex-wrap: nowrap !important;
}

.article__title{
    font-family: "mulish";
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-top: 6%;
}

.article__text{
    font-family: "mulish";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #161B3D;
    margin-top: 6%;
}

.article__user-name{
    font-family: "mulish";
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #BDBDBD;
}

.article__data{
    font-family: "mulish";
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7B7485;
    margin-right: 10px;
}

.card__right-site{
    text-align: left;
    padding: 15px 0;
}

.background__img{
    position: absolute;
    margin-left: -5%;
}

.article__img{
    position: absolute;
    margin-top: 5%;;
}
/*-----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------ABOUT US------------------------------------------------*/

.section--about-us{
    display: block;
    max-height: fit-content;
}

.container__section{
    margin-top: 2%;
    position: relative;
}

.container__img--about-us{
    max-width: 100%;
    position: absolute;
}

.container__about-us{
    background-color: #F7F7F7;
    padding: 40px;
    gap: 10px;
    max-width: 75%;
    position: absolute;
    left: 33%;
    margin-top: 11.5%;
}

.container__text--about-us{
    font-family: "Mulish";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000;
}

.container__button--about-us{
    padding: 4px 28px;
    background-color: #00E6CA;
    color: #fff;
    border: #00E6CA solid 1px;
}
/*-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------CALL TO ACTION----------------------------------------------*/

.section--call-to-action{
    background-color: #2820FC;
    margin-block: 4%;
}

.container__divs{
    max-width: 65%;
    margin-inline: auto;
    padding-block: 3%;
}

.container__h3--subscribe{
    font-family: "spartan";
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}

.container__text--subscribe{
    font-family: "mulish";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #fff;
}

.container__input{
    max-width: fit-content;
    display: flex;
    align-items: center;
    margin-inline: auto;
}


.form__input{
    background-color: #4039fc;
    color: #fff;
    padding: 10px;
    border: none;
    border-bottom: #fff solid 1px;
    width: 20vw;
    margin-right: 20px;
    font-family: "roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    outline: none;
}

.form__input::placeholder{
    color: #fff;
    font-family: "roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.button--subscribe{
    padding: 8px 44px;
    gap: 10px;
    border: #00E6CA solid 1px;
    background-color: #00E6CA;
    color: #fff;
    font-family: "source sans pro";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}

.input--subscribe{
    max-width: 100%;
}
/*-----------------------------------------------------------------------------------------------------------*/